<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          logged in as <%= @current_user.email %>
          <ul class="nav nav-pills nav-stacked">
            <li>
              <a href="/">
                INBOX
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-8">
          <% i = 0 %>
          <% @ignoring_msgs.group_by{|msg| msg.from_mail}.each do |from_mail, msgs| %>
            <% i += 1 %>
            <% msg = msgs.first %>
            <div class="panel">
              <div class="panel-heading">
                <div class="panel-title">
                  <a data-toggle="collapse" data-target="#msgs_<%=i%>" aria-expanded="false" aria-controls="msgs_<%=i%>">
                    <%= msgs.length %>
                    ignoring mails from <strong><%= from_mail %></strong>
                    <span style="float: right;">
                      <%= msgs.last.sent_date %>
                    </span>
                    <br />
                    (クリックしてメール文を閲覧)
                  </a>
                </div>
              </div>
              <div class="panel-body">
                <div id="msgs_<%=i%>" class="collapse">
                  <% msgs.each do |msg| %>
                    <a href="https://mail.google.com/mail/u/0/#inbox/<%= msg.thread_id %>" target="_blank">
                      <%= msg.snippet %>
                    </a>
                    <hr>
                  <% end %>
                </div>

                <form method="post" action="/ignore?id=<%=msg.id%>&reverse=true">
                  <input value="bring back his mail to INBOX" type="submit" class="btn btn-default" />
                </form>

              </div>
              <div class="panel-footer">
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
