<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          logged in as <%= @current_user.email %>
          <% if @current_user.latest_thread_history_id %>
            <br />
            次のメール同期まで <%= "約#{((@time_til_next_sync - @time)/60).round}分" %>
            <a href="/update" class="btn btn-default">
              今すぐ同期する
            </a>
          <% end %>
          <ul class="nav nav-pills nav-stacked">
            <% new_arrivals = @msgs_arr.select{|h| h[:assigned_to].nil?} %>
            <% unless new_arrivals.empty? %>
              <% tab_class_for_new = @comparing_user ? "" : "active" %>
              <li class="<%= tab_class_for_new %>">
                <a href="/">
                  NEW
                  <span class="badge"><%= new_arrivals.length %></span>
                </a>
              </li>
            <% end %>
            <% @thread_hash.values.flatten.uniq.reverse.each do |user_id| %>
              <% tab_class = (@comparing_user && @comparing_user.id) == user_id ? "active" : "" %>
              <li class="<%= tab_class%>">
                <a href="/?id=<%=user_id%>">
                  <%= User.find(user_id).email %>
                  <span class="badge"><%= @ongoing_threads_hash[user_id] %></span>
                </a>
              </li>
            <% end %>
            <li>
              <a href="/ignoring">
                Ignoring
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-8">
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#dangers" role="tab" data-toggle="tab">要対応</a></li>
            <li><a href="#normals" role="tab" data-toggle="tab">対応済み</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <% @msgs_arr.partition{|h| h[:msgs].last.from_mail == (h[:assigned_to] && h[:assigned_to].email)}.reverse.each_with_index do |msgs,i| %>
              <% tab_id = i == 0 ? "dangers" : "normals" %>
              <% tab_active = i == 0 ? "active" : "" %>
              <div class="tab-pane <%= tab_active %>" id=<%= tab_id %>>
                <% unless @current_user.messages.exists? %>
                  <a href="/import" class="btn btn-default">
                    Gmailの受信トレイをインポート(メール件数によって、10秒〜1分かかります)
                  </a>
                <% end %>
                <% msgs.sort_by{|h| h[:msgs].last.sent_date}.reverse.each do |msg_hash| %>
                  <% if @comparing_user.nil? || @comparing_user == msg_hash[:assigned_to] %>
                    <% if @only_new == false || msg_hash[:assigned_to].nil? %>
                      <% msg = msg_hash[:msgs].first %>
                      <% last_msg = msg_hash[:msgs].last %>
                      <% panel_class = last_msg.from_mail == (msg_hash[:assigned_to] && msg_hash[:assigned_to].email) ? "panel-default" : "panel-danger" %>
                      <div class="panel <%= panel_class %>">
                        <div class="panel-heading">
                          <div class="panel-title">
                            <a href="https://mail.google.com/mail/u/0/#inbox/<%= msg.thread_id %>" target="_blank">
                              <%= msg.subject %>
                            </a>
                            <span style="float: right;">
                              <%= msg_hash[:msgs].last.sent_date.localtime("+09:00").strftime("%c") %>
                            </span>
                          </div>
                        </div>
                        <div class="panel-body">
                          <% msg_hash[:msgs].each do |msg| %>
                            <%= msg.snippet %>
                            <p class="text-muted" style="float: right;"><%= msg.from_mail %></p>
                            <hr>
                          <% end %>

                          <div class="well well-sm">
                            <h4>
                              <span class="label label-primary">Assigned</span>
                              <%= msg_hash[:assigned_to] && msg_hash[:assigned_to].email %>
                            </h4>

                            <h5>
                              <span class="label label-default">others</span>
                              <% shared_user_ids = msg_hash[:assigned_to].nil? ? msg_hash[:shared_with_user_ids] : (msg_hash[:shared_with_user_ids] - [msg_hash[:assigned_to].id]) %>
                              <% User.where(id: shared_user_ids).each do |shared_user| %>
                                <%= shared_user.email %>
                              <% end %>
                            </h5>
                          </div>

                          <% if panel_class == "panel-danger" %>
                            <p class="text-danger">
                              <% if @only_new == true %>
                                返信した人に自動でアサインされます。Ignoreを押すと、今後同じ送信者からのメールはIgnoringに届きます。
                              <% else %>
                                最後の返信が外部の人からです。ReplyかSolveボタンを押してください。
                              <% end %>
                            </p>
                          <% end %>

                          <div style="float:left; width: 100%;">
                            <style>
                              form { display: inline-block; }
                            </style>

                            <a href="https://mail.google.com/mail/#inbox/<%= msg.thread_id %>" target="_blank" class="btn btn-default">
                              Reply (go to inbox)
                            </a>

                            <form method="post" action="/solve?id=<%=last_msg.id%>">
                              <input value="Solve" type="submit" class="btn btn-default" />
                            </form>

                            <form method="post" action="/ignore?id=<%=msg.id%>" style="float:right;">
                              <input value="Ignore" type="submit" class="btn btn-default" />
                            </form>
                          </div>

                        </div>
                        <div class="panel-footer">
                          <% msg.labels.each do |label| %>
                            <span class="label">
                              <%= label.id_on_gmail %>
                            </span>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
